@tailwind base;
@tailwind components;
@tailwind utilities;

.link-with-underline {
  position: relative;
  text-decoration: none;
}

.link-with-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2.5px;
  width: 100%;
  height: 1.5px;
  transform: scaleX(0);
  background-color: #000000;
  transition: 0.2s ease-in-out;
}

.link-with-underline:hover::after {
  transition: 0.2s ease-in-out;
  transform: scaleX(1);
  transform-origin: center;
  left: 0;
}

.inputs {
  @apply outline-none focus:border-black indent-[4rem] h-[3.7rem] w-[21rem] xl:w-[25rem] lg:h-[3rem] rounded-xl appearance-none text-[0.95rem] lg:text-[1rem] shadow-input-shadow;
}
